<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
</head>
<body>
    <div id="contrainer" align="center">
        <h3>用户登录</h3>
        <hr>
        <form method="post" action="login">
            <table border="1" cellspacing="0" cellpadding="0" width="300px">
                <tr>
                    <td><label for="username">用户名：</label> </td>
                    <td><input type="text" id="username" name="username"></td>
                </tr>
                <tr>
                    <td><label for="password">密码：</label></td>
                    <td><input type="password" id="password" name="password"></td>
                </tr>

                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" id="submit" name="submit" value="登录" >
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>